{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Add Book{% endblock %}

{% block styles %}
  {{super()}}
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
  <!-- CSS -->
  <link href=" {{ url_for('static', filename='css/styles.css') }} " rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
        <div class="col-sm-12 col-md-8">
            <h1 style="text-align:left;"> Add A New Book: </h1>

            {{ wtf.quick_form(form) }}

        </div>
</div>


{% endblock %}
